<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/blog.css">
    <title>Blog</title>
</head>
<body class="checked">
<%- include("../../layout/header") %>
<%- include("../../layout/flash") %>

<section class="blog">
    <div class="container">
        <div class="wrapper">
            <div class="item">
                <div class="thumbnail">
                    <img src="uploads/default.png" alt="">
                </div>
                <div class="title">
                    <h3>First Blog Text</h3>
                </div>
                <div class="body">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed maxime dolor dicta commodi dignissimos obcaecati nemo quis nostrum, asperiores, molestiae delectus recusandae nihil, dolore animi iure doloremque ad sint eveniet? Lorem ipsum dolor sit amet consectetur adipisicing elit. In quam fugiat maxime officiis. Soluta facilis totam sunt libero tempora. Ex ad neque corrupti, ipsa a quis facilis doloribus dolores minima?
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="uploads/default.png" alt="">
                </div>
                <div class="title">
                    <h3>First Blog Text</h3>
                </div>
                <div class="body">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed maxime dolor dicta commodi dignissimos obcaecati nemo quis nostrum, asperiores, molestiae delectus recusandae nihil, dolore animi iure doloremque ad sint eveniet? Lorem ipsum dolor sit amet consectetur adipisicing elit. In quam fugiat maxime officiis. Soluta facilis totam sunt libero tempora. Ex ad neque corrupti, ipsa a quis facilis doloribus dolores minima?
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="uploads/default.png" alt="">
                </div>
                <div class="title">
                    <h3>First Blog Text</h3>
                </div>
                <div class="body">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed maxime dolor dicta commodi dignissimos obcaecati nemo quis nostrum, asperiores, molestiae delectus recusandae nihil, dolore animi iure doloremque ad sint eveniet? Lorem ipsum dolor sit amet consectetur adipisicing elit. In quam fugiat maxime officiis. Soluta facilis totam sunt libero tempora. Ex ad neque corrupti, ipsa a quis facilis doloribus dolores minima?
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="uploads/default.png" alt="">
                </div>
                <div class="title">
                    <h3>First Blog Text</h3>
                </div>
                <div class="body">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed maxime dolor dicta commodi dignissimos obcaecati nemo quis nostrum, asperiores, molestiae delectus recusandae nihil, dolore animi iure doloremque ad sint eveniet? Lorem ipsum dolor sit amet consectetur adipisicing elit. In quam fugiat maxime officiis. Soluta facilis totam sunt libero tempora. Ex ad neque corrupti, ipsa a quis facilis doloribus dolores minima?
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="uploads/default.png" alt="">
                </div>
                <div class="title">
                    <h3>First Blog Text</h3>
                </div>
                <div class="body">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed maxime dolor dicta commodi dignissimos obcaecati nemo quis nostrum, asperiores, molestiae delectus recusandae nihil, dolore animi iure doloremque ad sint eveniet? Lorem ipsum dolor sit amet consectetur adipisicing elit. In quam fugiat maxime officiis. Soluta facilis totam sunt libero tempora. Ex ad neque corrupti, ipsa a quis facilis doloribus dolores minima?
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    <img src="uploads/default.png" alt="">
                </div>
                <div class="title">
                    <h3>First Blog Text</h3>
                </div>
                <div class="body">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed maxime dolor dicta commodi dignissimos obcaecati nemo quis nostrum, asperiores, molestiae delectus recusandae nihil, dolore animi iure doloremque ad sint eveniet? Lorem ipsum dolor sit amet consectetur adipisicing elit. In quam fugiat maxime officiis. Soluta facilis totam sunt libero tempora. Ex ad neque corrupti, ipsa a quis facilis doloribus dolores minima?
                    </p>
                </div>
            </div>
    </div>
</section>





<%- include("../../layout/footer") %>
</body>
</html> 