
<footer>
	<div class="wrapper container">
		<div class="logo">
			<img src="./resource/icon/logo2.png" alt="">
		</div>
		
		<div class="social">
			<h3>Find Me On :</h3>
			<div class="icon">
				<a href="https://facebook.com/ibraa.khalil/" target="_blank"><i class="fab fa-facebook-square"></i></a>
				<a href="https://twitter.com/ibra_khalil5425" target="_blank"><i class="fab fa-twitter-square"></i></a>
				<a href="https://github.com/ibraakhalil" target="_blank"><i class="fab fa-github-square"></i></a>
				<a href="./login.html" target="_blank"><i class="fab fa-linkedin"></i></a>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p>All Right Reserved @ MD IBRAHIM KHALIL</p>
	</div>
</footer>

<script src="scripts/common.js" ></script>